*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Oswald;
    scroll-behavior: smooth;
    
}

:root{
    --blue: rgb(72, 194, 250);
    --lighterBlue: rgb(128, 211, 249);

}

span{
    color: var(--lighterBlue)
}

body{
    background: linear-gradient(to left, var(--blue), blue) ;
}

section{
    min-height: 100vh;
    padding: 5% 10%;
}

#home{  /*Home is the section*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5em;
    color: white;

}

.navBar{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 50px 120px;
    gap: 3em
    
}
div a{
    font-size: 3em;
    font-weight: bold;
    color: var(--lighterBlue)
    
}

#navLogo{
    font-size: 4em;
    color: white
}


.title-box{
    max-width: 60%;
    position: relative;
    text-align: center;
}

.title-box h1{
    font-size: 5em;
}
.title-box h2{
    font-size: 3em;
}

.file-box{
    max-width: 50%;
    position: relative;
    right: 100px;
    top: -20px;
    min-width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.file-box h1{
    font-size: 3em;
}

.bx {
    font-size: 3em;
    color: white;
}

.bx:hover{
    color: blue;
    transition: 0.2s ease-in-out;
}

.bx:active{
    color: white
    
}

#downArrow{
    position:relative;
    
}
